/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #f31212;
    padding: 10px;

}
.content {
    background: linear-gradient(to right, #FF5733, #6B16B3);
}
.desc{
    text-align: center;
}
.service {
    background-color: #ffffff;
    width: 60%;
    margin-bottom: 15px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: #459692 solid 3px;
    border-radius: 15px;
}
.service img{

    width: 100%;
    height: auto;
    border-radius: 15px;
}

header{

    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    align-items: center;
    
}

nav li {
    display: inline;
    margin-right: 15px;
}

section {
    padding: 20px;
}

.hero {
    background-color: #c70e0e;
    text-align: center;
}




h2 {
    color: rgb(255, 0, 21);
}

h3 {
    color: rgb(8, 128, 18);
}

p {
    font-size: 18px;
    color: #000000;
}

/* Styling for specific sections */
.hero h1, .hero h2, .hero h3 {
    font-size: 36px;
    color: #fdfdff;
}

.hero p {
    font-size: 20px;
    color: #e0dcdc;
}



.about p {
    font-size: 20px;
}

.services h2 {
    font-size: 28px;
}

.services h3 {
    font-size: 24px;
}

.services p {
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #363434;
    color: #fff;
    
}
.footer p {
    color: #ffffff;
}
/* Additional styles */

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.social-link img {
    max-width: 60px;
    height: auto;
}
a:visited{
    color: #fff;
}